body {
    color: rgb(41, 15, 27);
    background: rgb(211, 149, 195);
    margin: 20px;
    font-family: "Matemasie", sans-serif;

    header {
        border-bottom: solid 2px rgb(196, 26, 130) PINK;
        padding: 20px;
        font-size: 32px;
        color: rgb(196, 26, 130)
    }
    section {
        background: rgb(230, 90, 160);
        padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    }
    .chamada-texto {
        margin-right:  5%;
    }
}
h1 { 
    font-size: 32px;
}